
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    color: #333;
}

header {
    background: linear-gradient(to right, #747474, #8a8b8b);
    color: white;
    text-align: center;
    padding: 60px 20px;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

header p {
    margin-bottom: 20px;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background: white;
    color: #839ce9;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #333;
    color: white;
}

section {
    padding: 50px 20px;
    margin: 20px auto;
    max-width: 800px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

h2 {
    margin-bottom: 15px;
    color: #404a69;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
    background: #aab1c5;
    color: white;
    padding: 8px 15px;
    margin: 5px;
    border-radius: 20px;
    font-size: 14px;
}

.project {
    margin-top: 15px;
    padding: 15px;
    background: #f8f9fc;
    border-left: 4px solid #959db6;
    border-radius: 6px;
    transition: 0.3s;
}

.project:hover {
    transform: translateY(-5px);
}

#contact p {
    margin: 8px 0;
}

footer {
    text-align: center;
    padding: 15px;
    background: #333;
    color: white;
    margin-top: 30px;
}





